.skill-container{
    width:auto;
    height:30vh;
    display: flex;
    justify-content: space-around;
    margin: 2em;
    padding: 50px 50px;
    background-color: rgba($color: #ecebeb, $alpha: 0.5);
    border-radius: 10px;
    }
